{{ define "navbar" }}

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="{{ .Title.Link }}" class="btn btn-ghost text-xl"
      >{{ .Title.Name }}</a
    >
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      {{ range $menu := .Menus }}
      <li>
        <a
          href="{{ $menu.Link }}"
          class="{{ if eq $menu.Active true }}active{{ end }}"
          >{{ $menu.Name }}</a
        >
      </li>
      {{ end }}
    </ul>
  </div>
</div>

{{ end }}
